.work-desc{
    margin-top:88px;
}

.work-desc h1,.work-desc h2{
    text-align:center;
}

.work-desc p{
    margin-bottom:20px;
    line-height:35px;
    margin: 0 10px;    
}

div.imgbox {
    text-align:center;
}

div.imgbox img{
    display:inline;
    float:none;
    width:auto;
    max-width:100%;
}


